/* Header */

.custom-header {
    background-color: #333;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 160px;
    height: 95px;
    margin-right: 10px;
  }
  
  .site-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
    font-size: 1.5rem;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  /* Inicio */
  .custom-h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  

.text-center {
    text-align: center;
  }
  
  .absolute {
    position: absolute;
  }

  .transform {
    transform: translate(-50%, -50%);
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .mb-6 {
    margin-bottom: 1.5rem;
  }
  
  .mb-8 {
    margin-bottom: 2rem;
  }
  
  .text-3xl {
    font-size: 1.875rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .text-gray-700 {
    color: #4b5563;
  }
  
  .bg-blue-500 {
    background-color: #3b82f6;
  }
  
  .hover\:bg-blue-600:hover {
    background-color: #2563eb;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }
  
  .transition, .duration-300 {
    transition-property: background-color, color;
    transition-duration: 300ms;
  }
  @keyframes changeColor {
    0% {
      background-color: #3b82f6; /* Primer color */
    }
    25% {
      background-color: #9333ea; /* Segundo color */
    }
    50% {
      background-color: #f59e0b; /* Tercer color */
    }
    75% {
      background-color: #10b981; /* Cuarto color */
    }
    100% {
      background-color: #3b82f6; /* Vuelve al primer color para cerrar el ciclo */
    }
  }
  
  .custom-h1 {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .custom-button {
    background-color: #3b82f6;
    color: white;
    padding: 2rem 3rem;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    animation: changeColor 10s infinite; /* Usa la animación en bucle durante 10 segundos */
  }
  
  .custom-button:hover {
    background-color: #2563eb;
  }

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #000000;
  font-size: 2.5rem;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #ffffff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* Estilos para el botón de Google Login */
.GoogleLogin {
  display: block;
  width: 100%;
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.GoogleLogin:hover {
  background-color: #062a64;
}

.container {
  background: linear-gradient(to bottom, #083b5e, #29b94d); /* Degradado de azul oscuro a azul claro */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 60px;
  width: 700px;
  text-align: center;
  margin: 50px auto;
}

.container input,
.container button,
.container .GoogleLogin {
  margin: 10px 0;
}

.container input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.container button,
.container .GoogleLogin {
  background-color: #2ecc71; /* Color de fondo verde */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.container button:hover,
.container .GoogleLogin:hover {
  background-color: #27ae60; /* Cambia el color al hacer hover */
}

.container a {
  color: #fff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}
/*Footer*/
.footer-info {
  text-align: right;
}

.footer-info p {
  margin: 5px 0;
  font-size: 14px;
}
.footer-container {
  background-color: #333;  /* Cambia el color de fondo según tus preferencias */
  color: white;  /* Cambia el color del texto según tus preferencias */
  padding: 20px;  /* Ajusta el espaciado interno según tus necesidades */
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.nav-links {
  display: flex;
}

.nav-link {
  margin-left: 20px;  /* Ajusta el espaciado entre enlaces según tus necesidades */
  color: white;  /* Cambia el color del texto según tus preferencias */
  text-decoration: none;  /* Elimina la decoración de subrayado */
}

.nav-link:hover {
  text-decoration: underline;  /* Añade subrayado al pasar el ratón sobre el enlace */
}

/*nota publica*/
.container2{
  background: linear-gradient(to bottom, #c6deee, #a3f5b8); /* Degradado de azul oscuro a azul claro */
  border-radius: 0px;
  padding: 60px;
  width: 900px;
  text-align: center;
  margin: 50px auto;
}

.noteContainer {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Cambia este valor según tus preferencias */
  margin: 20px auto;
  box-sizing: border-box;
}

.noteTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.noteContent {
  line-height: 1.6;
  font-size:1.5rem;
  color: #000000;
}
/* carts notas publicas */

.public-note-card {
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  margin: 20px;
  margin-top: 0%;
  box-sizing: border-box;
  color: #333;
  
}

.note-header{
  position: relative;
  top:62%;
  align-items:flex-end;
}

.note-title-bg {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
}

.note-title {
  font-size: 1.5rem;
  align-items: end;
}

.note-author {
  font-size: 1rem;
  color: #555;

}

.note-content {
  position: relative;
  align-items: center;
  top: 25%;
  line-height: 1.6;
  font-size: 1rem;

}
/* TermsAndConditions.css */

.terms-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
  margin-bottom: 15px;
}
/*nota nueva*/
.container3 {
  background: linear-gradient(to bottom, #c6deee, #a3f5b8);
  border-radius: 0px;
  padding: 60px;
  width: 600px;
  text-align: right; /* Alinea el contenido a la derecha */
  margin: 50px auto;
  margin-left: auto; 
  margin-left: 55%;
  z-index: -1;
}

.noteContainer1 {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
  text-align: left;
}

.noteTitle1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.noteContent1 {
  line-height: 1.6;
  font-size: 1.5rem;
  color: #000000;
}
.container3-left {
  position:absolute;
  top:180px;
  background: linear-gradient(to bottom, #c6deee, #a3f5b8);
  border-radius: 0px;
  padding: 60px;
  width: 600px;
  text-align: right; /* Alinea el contenido a la derecha */
  margin-left: 2%;
  z-index: -1;
}
.container4-left {
  position:absolute;
  top:550px;
  background: linear-gradient(to bottom, #c6deee, #a3f5b8);
  border-radius: 0px;
  padding: 60px;
  width: 600px;
  text-align: right; /* Alinea el contenido a la derecha */
  margin-left: 2%;
  z-index: -1;
}
.noteContainer2 {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
  text-align: left;
  z-index: -1;
}
/* Estilos del modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Asegura que el modal esté en la parte superior */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Estilos del botón de cierre */
.modal-content button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos del input en el modal */
.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para centrar el modal */
.modal-content {
  margin: auto;
}
